/***
 *  - mooRainbow: defaultCSS
 * author: w00fz <w00fzPuppy@gmail.com>
 */
.moor-box {
	width: 189px; 
	height: 160px; 
	border: 1px solid #636163; 
	background-color: #f9f9f9;
	font-size: 11px; 
	color: #000;
}
.moor-overlayBox {
	width: 128px; /* Width and Height of the overlay must be setted here: default 128x128 */
	height: 128px; 
	margin-top: 3px; 
	margin-left: 3px;
	border: 1px solid #000;
}
.moor-slider {
	border: 1px solid #000;
	margin-left: 135px;
	margin-top: 3px;
	width: 15px;
	height: 128px;
	cursor: pointer;
}
.moor-colorBox {
	border: 1px solid black;
	height: 128px;
	margin-left: 154px;
	margin-top: 3px;
	width: 32px;
}
.moor-currentColor { /* Bottom Box Color, the colour you selected previously */
	height: 64px;
	margin-left: 155px;
	margin-top: 68px;
	width: 32px;
}
input.moor-okButton {
	font-weight: bold;
	background: #e6e6e6;
	height: 23px;
	border: 1px solid #d6d6d6;
	border-left-color: #f5f5f5;
	border-top-color: #f5f5f5;
	position: absolute;
	bottom: 2px;
	left: 2px;
	width: 60px;
}
/* Following are just <label> */
.moor-rLabel {
	visibility: hidden;
	margin-top: 100px;
	margin-left: 315px;
}
.moor-gLabel {
	visibility: hidden;
	margin-top: 125px;
	margin-left: 315px;
}
.moor-bLabel {
	visibility: hidden;
	margin-top: 150px;
	margin-left: 315px;
}
.moor-HueLabel {
	visibility: hidden;
	margin-top: 190px;
	margin-left: 315px;
}
span.moor-ballino {
	visibility: hidden;
	margin-top: 190px;
	margin-left: 370px;
}
.moor-SatuLabel {
	visibility: hidden;
	margin-top: 215px;
	margin-left: 315px;
}
.moor-BrighLabel {
	visibility: hidden;
	margin-top: 240px;
	margin-left: 315px;
}
.moor-hexLabel {
	right: 3px;
	bottom: 3px;
}
.moor-hexLabel label {
	display: none;
}

/* <input> */
.moor-rInput, .moor-gInput, .moor-bInput, .moor-HueInput, .moor-SatuInput, .moor-BrighInput { 
	width: 30px;
	visibility: hidden;
}
input.moor-hexInput {
	width: 55px !important; /* weird issue with IE7 */
}
.moor-cursor {
	background-image: url(images/moor_cursor.gif); 
	width: 12px;
	height: 12px;
}
.moor-arrows {
	/*background-image: url(images/moor_arrows.gif);*/
	top: 9px; 
	left: 270px;
	width: 41px;
	height: 9px;
}
.moor-chooseColor { /* Top Box Color, the currently choosen one */
	height: 64px;
	margin-left: 155px;
	margin-top: 4px;
	width: 32px;
}

.rain {	 /* class for the trigger element if using */
	vertical-align: top;
	cursor: pointer; 
}	